*{
	margin:0;
	box-sizing:border-box;
	margin-bottom:10px;
}

/* 1 */
.some > h1, h2, p{
	color:green;
	border:2px solid black;
}

2
.one, .two, .tree{
	float:left;
	width:200px;
	height:200px;
	background-color:red;
	margin-right:200px;
}

3
.one > h2, p{
	border:none;
	color:white;
	text-align:center;
}

5
.two > h2, p{
	border:none;
	color:blue;
	text-align:center;
}

6
.tree > h2, p{
	border:none;
	color:green;
	text-align:center;
}