*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}

p{
	margin:16px 0;
}

div{
	border:3px solid rgb(26 115 232);
	padding:10px;
	margin-bottom:10px;
}

.parent_3{
	display:inline-block;
	width:100%;
}

/* 1 */
div > .p-parent{
	border:3px double orange;
}

/* 2 */
div > .p-parent > p{
	font-size:20px;
	color:red;
}

/* 3 */
div > .p-parent > p > span{
	color:gray;
}

/* 4 */
div > .p-parent > p > span > a{
	text-decoration-style:wavy;
	text-decoration-color:red;
}

/* 5 */
.parent_block2 > .child_block{
	background-color:green;
	border:4px solid red;
}

/* 6 */
.parent_block2 > .child_block > .child_child_block{
	background-color:aqua;
	border:4px solid yellow;
}

/* 7 */
.parent_block2 > .child_block > .child_child_block{
	background-color:aqua;
}

/* 8 */
.parent_block2 > .child_block > .child_child_block i{
	font-style:normal;
	font-size:23px;
}

/* 9 */
.parent_3 > .block1{
	float:left;
	width:50%;
}

/* 10 */
.parent_3 > .block2{
	float:left;
	width:50%;
}

/* 11 */
.parent_3 > .block1 > .tag_p_parent{
	background-color:gray;
	border:3px dotted black;
	padding:10px;
	background-clip:border-box;
}

/* 12 */
.parent_3 > .block1 > .tag_p_parent > p{
	background-color:red;
	font-size:10px;
}

/* 13 */
.parent_3 > .block2 > .text_block_parent{
	background-color:blue;
	border:3px solid black;
}

/* 14 */
.parent_3 > .block2 > .text_block_parent b{
	color:white;
}

/* 15 */
.parent_3 > .block2 > .text_block_parent > b > small{
	color:#8A2BE2;
}

/* 16 */
ul > .listitem1{
	background-color:#F5F5DC;
}

/* 17 */
ul > .listitem1 > .listitemdiv i{
	font-size:18px;
}

/* 18 */
ul > .listitem2 > .listitemdiv > address{
	color:red;
}

/* 19 */
ul > .listitem3 > .listitemdiv > .child{
	background-color:	#702963;
}

/* 20 */
ul > .listitem3 > .listitemdiv > .child > p{
	color:white;
}

/* 21 */
ul > .listitem3 > .listitemdiv > .child > .p-tag{
	color:yellow;
}

/* 22 */
ul > .listitem4 > ul > .listitem4child1 {
	background-color:yellow;
}

/* 23 */
ul > .listitem4 > ul > .listitem4child2 {
	background-color:green;
}

/* 24 */
ul > .listitem4 > ul > .listitem4child3 {
	background-color:#993300;
}

/* 25 */
ul > .listitem4 > ul > .listitem4child3 p{
	color:#50C878;
	margin:0;
}