*{
	margin:0;
	box-sizing:border-box;
}

div{
	padding:10px;
	border:3px solid black;
}

.parent{
	display:inline-block;
	width:100%;
}

/* 1 */
.block1 > .block1_1 > h1 ~ p{
	color:red;
}

/* 2 */
.block1 > .block1_2 > h2 ~ p{
	color:green;
}

/* 3 */
.block1 > .block1_3 > h2 ~ p{
	color:blue;
}

/* 4 */
.block1 > .block1_1 ~ .block{
	margin-top:20px;
}

/* 5 */
.parent > .some-block ~ .block{
	float:left;
	width:48%;
	margin-top:15px;
	margin-right:2%;
}

/* 6 */
.parent > .some-block ~ .block > .some-block-2 ~ .block{
	width:30%;
	margin-left:2%;
	display:inline-block;
	margin-top:15px;
}


/* 7 */
.parent > .some-block ~ .block > .some-block-2 + .mini-block-1 > h2 ~ p{
	color:red;
}

/* 8 */
.parent > .some-block ~ .block > .some-block-2 + .mini-block-1 + .mini-block-2 > h2 ~ p{
	color:purple;
}

/* 9 */
.parent > .some-block ~ .block > .some-block-2 + .mini-block-1 + .mini-block-2 + .mini-block-3 > h2 ~ p{
	color:aqua;
}

/* 10 */
.parent > .block2 > .some-block-2 ~ .block{
	border:3px dotted black;
}

/* 11 */
.parent > .block2 > .some-block-2 + .mini-block-4  > h2 ~ p{
	color:purple;
}

/* 12 */
.parent > .block2 > .some-block-2 + .mini-block-4 + .mini-block-5 > h2 ~ p{
	color:aqua;
}

/* 13 */
.parent > .block2 > .some-block-2 + .mini-block-4 + .mini-block-5 + .mini-block-6 > h2 ~ p{
	color:red;
}

/* 14 */
.parent ~ .other-block-parent{
	display:inline-block;
	width:100%;
	margin-top:15px;
}

/* 15 */
.parent ~ .other-block-parent > .some-block ~ div{
	float:left;
	width:50%;
	margin-top:15px;
}

/* 16 */
.parent ~ .other-block-parent > .some-block + .other-block-1 > ul > .menuone ~ li{
	color:red;
}

/* 17 */
.parent ~ .other-block-parent > .some-block + .other-block-1 > .first{
	display:inline-block;
}

/* 18 */
.parent ~ .other-block-parent > .some-block + .other-block-1 > .first ~ ul{
	display:inline-block;
}

/* 19 */
.parent ~ .other-block-parent > .some-block + .other-block-1 > .first + ul > .menufour ~ li{
	background-color:green;
	color:white;
}

/* 20 */
.parent ~ .other-block-parent > .some-block + .other-block-1 > .first + ul > .menufour ~ li::marker{
	background-color:green;
	color:red;
}

/* 21 */
.parent ~ .other-block-parent > .some-block + .other-block-1 > .first + ul + ul > .menutwo ~ li{
	border:1px solid blue;
}

/* 22 */
.parent ~ .other-block-parent > .other-block-2 > ul > .menuone > .one ~ div{
	display:inline-block;
	width:20px;
	height:20px;
}

/* 23 */
.parent ~ .other-block-parent > .other-block-2 > ul > .menuone > .one ~ div ~ p{
	font-size:20px;
}

/* 24 */
.parent ~ .other-block-parent > .other-block-2 > ul > .menutwo + div + ul > .first ~ li{
	font-size:20px;
}

/* 25 */
.parent ~ .other-block-parent > .other-block-2 > ul > .menutree > h4 ~ p{
	font-size:30px;
}