<aside class="aside">
    <div class="aside-container">
        <div class="aside-inner">
            <div class="aside-textBlock">
                <h2 class="aside-title">
                    Join our team to be a part of our story
                </h2>
                <p class="aside-paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                </p>
                <a class="aside-link general-button" (click)="scrollToBottom()">Join Now</a>
            </div>
        </div>
    </div>
</aside>