*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	text-decoration:none;
}

.nav{
	background-color:#21243d;
	width:100%;
}

.container{
	width:1337px;
	margin:auto;
}

.inner{
	display:inline-block;
	width:100%;
}

.logo{
	float:left;
	width:215px;
}

.logo--margin{
	margin-right: 150px;
}

.logo__link{
	display:inline-block;
}

.logo__png{
	width:100%;
}

.contacts{
	float:left;
}

.contacts--margin{
	margin-top:35px;
	margin-right:265px;
}

.contacts__link{
	display:inline-block;
	font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
	color:white;
}

.contacts__link:hover{
	transform:scale(1.2);
}

.contacts__link:last-child{
	margin-right:0;
}

.contacts__item{
	display:inline-block;
	margin-right:70px;
}

.search{
	float:left;
}

.search__button{
	width:32px;
	border:none;
	background-color:transparent;
	cursor:pointer;
}

.search__png{
	width:100%;
}

.search--margin{
	margin-top:35px;
}

.menu-icon{
	float:right;
	display:none;
}

.menu-icon--margin{
	margin-top:35px;
}

.menu-icon__btn{
	width:32px;
	display:inline-block;
	border:none;
	background-color:transparent;
	cursor:pointer;
}

.menu-icon__png{
	width:100%;
	color:white;
}

.menu-icon__btn:target + .open-menu{
	top:0px;
}

.open-menu{
	width:100%;
	padding:20px 0;
	text-align:center;
	background-color:#21243d;
	position:absolute;
	top:20px;
}

.navigation__link{
	font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
	color:white;
	display:inline-block;
	margin-bottom:10px;
}

.order-section{
	background-image:url('../img/image1.jpg');
	background-repeat:no-repeat;
	background-size:cover;
}

.order-section-inner{
	padding:170px 0 160px 0;
}

.order__title{
	font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
	color:white;
	margin-bottom:90px;
	font-size:125px;
}

.order__paragraph{
	font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
	color:white;
	font-size:30px;
	margin-bottom:50px;
}

.order__link{
	font-size:25px;
	color:white;
	text-decoration:none;
	background-color:#21243d;
	padding:17.8px 74.42px;
	border-radius:33px;
	font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
	display:inline-block;
	transition:0.3s;
}

.repetitive-title{
	text-align:center;
	font-size:64px;
	font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
	color:white;
}

.repetitive-title--margin{
	margin-bottom:50px;
}

.repetitive-paragraph{
	text-align:center;
	font-size:25px;
	font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
	color:white;
}

.menu-section{
	background-color:#21243d;
	background-image:url(../img/shape1.png), url(../img/shape2.png), 
						url(../img/shape3.png), url(../img/shape4.png), 
						url(../img/shape5.png), url(../img/shape2.png);
	background-repeat:no-repeat;
	background-position:-60px 650px, 100px 200px, 280px -20px, right -30px top -30px, right -20px top 400px, right 800px;
}

.menu-section-inner{
	padding:100px 0 130px 0;
}

.food{
	text-align:center;
}

.food--margin{
	margin-top:100px;
}

.food__item{
	width:245px;
	display:inline-block;
}

.food__item:nth-child(2){
	margin:0 10% 30px 10%;
}

.food__image{
	width:245px;
	height:245px;
	border-radius:50%;
}

.food__title{
	color:white;
	font-size:28px;
	font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
	margin:25px 0 30px 0;
}

.food__paragraph{
	color:white;
	font-size:17px;
	font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
}


.third-section{
	background-color:#ffd17e;
	text-align:center;
	background-image:url('../img/shape1_1.png'), url('../img/shape1_2.png'), 
					 url('../img/shape1_3.png'), url('../img/shape1_4.png'), 
					 url('../img/shape1_5.png');
	background-repeat:no-repeat;
	background-position:bottom 50px left 45px, top 125px left 130px, top 130px right 650px, 
						top 25px right 36px, bottom 75px right -36px;  
}

.third-section-inner{
	display:inline-block;
	padding:190px 0 130px 0;
	text-align:center;
}

.image__img{
	border-radius:50%;
	width:400px;
	height:400px;
}

.image{
	display:inline-block;
}

.image--margin{
	margin-right:175px;
}

.image--margin-left{
	margin-left:175px;
}

.description{
	display:inline-block;
	text-align:left;
}

.description__title{
	color:#21243d;
	font-size:75px;
	font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
	margin-bottom:65px;
}

.description__paragraph{
	color:#21243d;
	font-size:30px;
	font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
	margin-bottom:75px;
}

.description__link{
	font-size:25px;
	color:white;
	text-decoration:none;
	background-color:#21243d;
	padding:17.8px 74.42px;
	border-radius:33px;
	font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
	display:inline-block;
	transition:0.3s;
}


.statictics{
	background-color: #21243d;
	background-image:url('../img/shape3.png'), url('../img/shape2.png'), 
					 url('../img/shape1.png'), url('../img/shape3.png'),
					 url('../img/shape2.png'), url('../img/shape1.png');
	background-repeat:no-repeat;
	background-position:left 100px top 60px, left 115px top 220px, 
						left 300px bottom -68px, right 450px bottom 50px, 
						right 75px bottom 100px, right 80px top 93px;
	text-align:center;
}

.statictics-inner{
	padding:95px 0 186px 0;
}

.statictics-items--margin{
	margin-top:100px;
}

.statictics-item{
	border:5px solid white;
	display:inline-block;
	color:white;
	text-align:center;
	padding:61.2px 58.92px;
	border-radius:50%;
}

.statictics-item:nth-child(2){
	margin:0 140px;
}

.statictics-items__title{
	font-size:75px;
	font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
}

.statictics-items__paragraph{
	font-size:42px;
	font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
}

@media screen and (max-width:1280px){
	.container{
		width:1100px;
	}
	.contacts--margin{
		margin-right:100px;
	}
	
	.logo--margin{
		margin-right:0px;
	}
	
	.image--margin{
		margin-right:100px;
	}
	
	.statictics-item:nth-child(2){
		margin:0 100px;
	}	
}

@media screen and (max-width:1080px){
	.container{
		width:800px;
	}
	
	.contacts--margin{
		margin-right:20px;
	}
	
	.logo--margin{
		margin-right:30px;
	}
	
	.contacts__link{
		margin-right:50px;
	}
	
	.contacts__link:hover{
		border:none;
		padding:0;
		transform:translateY(0);
	}
	
	.food__item:nth-child(2){
		margin:0 3% 30px 3%;
	}
	
	.image--margin{
		margin-right:0;
	}
	
	.description{
		text-align:center;
	}
	
	.third-section{
		background-image:none;
	}
	
	.statictics{
		background-image:none;
	}
	
	.statictics-item:nth-child(2){
		margin:0 0 0 140px;
	}
	
}

@media screen and (max-width:930px){
	.container{
		width:95%;
	}
	
	.menu-icon{
		display:block;
	}
	
	.menu-icon--margin{
		margin-top:30px;
	}
	
	.search{
		display:none;
	}
	
	.contacts{
		display:none;
	}
	
	.order{
		text-align:center;
	}
	
	.order__title{
		font-size:75px;
	}
	
	.description__title{
		margin-bottom:30px;
	}
	
	.food__item:nth-child(3){
		margin-top:30px;
	}
}

@media screen and (max-width:800px){
	.food__item:nth-child(2){
		margin:0 0 0 3%;
	}
}

@media screen and (max-width:700px){
	.statictics-item:nth-child(2){
		margin:0 10px;
	}
}

@media screen and (max-width:578px){
	.order__title{
		font-size:60px;
	}
	
	.repetitive-title{
		font-size:40px;
    }
	
	.repetitive-paragraph{
		font-size:20px;
    }

	.menu-section{
		background-image:none;
	}

	.image__img{
		width:250px;
		height:250px;
	}
	
	.food__item{
		margin:0 0 30px 0;
	}
	
	.food__item:nth-child(2){
		margin:0 0 30px 0;
	}
	
	.food__item:nth-child(3){
		margin:0;
	}
	
	.description__title{
		font-size:50px;
	}
	
	.statictics-item{
		margin-bottom:30px;
	}
	
	.statictics-item:nth-child(2){
		margin:0  0  30px 0px;
	}
}
