*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	text-decoration:none;
}

.container{
	max-width:1090px;
	margin:auto;
}

.flavours-container{
	max-width:1200px;
	margin:auto;
}

.header{
	background-image:url('../img/image1.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	padding:56px 0 220px 0;
}

.nav-inner{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	margin-bottom:220px;
}

.pagename__link{
	font-size:2.1875rem;
	color: #ffffff;
	opacity: 0.780;
	font-family: 'Raleway';
    font-weight: 700;
    font-style: normal;
}

.menu-open-btn{
	width:80px;
	display:none;
}

.openclose:checked + .hiddenlinks{
	display:block;
}


.menu-open-btn__icon{
	width:100%;
}

.links{
	text-align:center;
}

.hiddenlinks{
	background-color:#2a3b40;
	text-align:center;
	width:100%;
	padding:20px 0;
	display:none;
}

.hiddenlinks__item{
	display:block;
	font-size:2.1875rem;
	color: #ffffff;
	opacity: 0.780;
	font-family: 'Raleway';
    font-weight: 700;
    font-style: normal;
	margin-right:10px;
}

.links__item{
	display:inline-block;
	font-size:2.1875rem;
	color: #ffffff;
	opacity: 0.780;
	font-family: 'Raleway';
    font-weight: 700;
    font-style: normal;
	margin-right:20px;
	transition:0.5s;
}

.links__item:last-child{
	margin-right:0;
}

.links__item:hover{
	transform:rotate(20deg);
}

.header-inner{
	display:flex;
	justify-content:center;
	align-items:center;
}

.open-full{
	width:756px;
	padding:115px 0 110px 0;
	background-color:#ffffff94;
	text-align:center;
}

.open-full-subtitle{
	color: #2c3a42;
	font-size:6.5rem;
	font-family: 'Cookie';
    font-weight: normal;
    font-style: normal;
}

.open-full-title{
	color: #ad6c12;
	font-size:4.8125rem;
	font-family: 'Raleway';
    font-weight: 600;
    font-style: normal;
	margin-bottom:25px;
}

.open-full-link{
	color: #2c3a42;
	font-size:2.375rem;
	font-family: 'Raleway';
    font-weight: 600;
    font-style: normal;
	background-color: #ffffff;
	padding:7.1px 35.92px;
}

.flavours{
	background-color:#2a3b40;
}

.flavours-inner{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:70px 0;
	flex-wrap:wrap-reverse;
}

.text{
	width:570px;
}

.text__title{
	color:#ffffff;
	font-family: 'Raleway';
    font-weight: 600;
    font-style: normal;
	font-size:1.8125rem;
	margin-bottom:0.725em;
}

.text__paragraph{
	font-size: 1.1875rem;
	line-height: 33px;
	color: #ffffff;
	font-style: normal;
	font-weight: 400;
	font-family: "Raleway";
}

.image__img{
	width:100%;
}

.novelties{
	background-color:#e1e1e166;
}

.novelties-container{
	max-width:1100px;
	margin:auto;
}

.novelties-inner{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	padding:100px 0;
}

.novelties__item{
	width:300px;
}

.novelties__circle{
	width:32px;
	height:32px;
	background-color:#2a3b40;
	border-radius:50%;
	display:inline-block;
	margin-bottom:30px;
}

.novelties__title{
	font-size:1.1875rem;
	color: #2a3b40;
	font-style: normal;
	font-weight: 700;
	font-family: "Raleway";
	margin-bottom:40px;
}

.novelties__paragraph{
	font-size:1.0625rem;
	line-height: 25px;
	color: #2a3b40;
	font-style: normal;
	font-weight: 400;
	font-family: "Raleway";
}

.foods{
	background-image:url('../img/image3.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	padding:90px 0;
}

.foods-container{
	max-width:1080px;
	margin:auto;
	background-color:#ffffffb0;
}

.foods-title-one{
	font-size: 4.8125rem;
	color: #304751;
	font-style:normal;
	font-weight: 400;
	font-family: "Cookie";
	text-align:center;
}

.foods-title{
	font-size: 3rem;
	text-transform: uppercase;
	color: #ad6c12;
	font-style:normal;
	font-weight: 600;
	font-family: "Raleway";
	text-align:center;
}

.foods-title--margin{
	margin-bottom:50px;
}

.foods-items{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

.foods-items__item{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

.food-image{
	width:270px;
	height:270px;
}

.food-image__img{
	width:100%;
	height:100%;
}

.food-desc{
	width:270px;
	height:270px;
	background-color:transparent;
}

.food-desc__inner{
	display:flex;
	height:100%;
	padding:0 50px;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
}

.food-desc__title{
	font-size:1.125rem;
	color: #304751;
	margin-bottom:30px;
	font-style:normal;
	font-weight: 700;
	font-family: "Raleway";
	text-transform:uppercase;
}

.food-desc__paragraph{
	font-size:1.0625rem;
	color: #304751;
	margin-bottom:27px;
	font-style:normal;
	font-weight: 400;
	font-family: "Raleway";	
}

.food-desc__price{
	font-size:1em;
	color: #304751;
	font-style:normal;
	font-weight: 700;
	font-family: "Raleway";
}

.cuisine{
	background-color:#e1e1e166;
	background-image:url('../img/nshan.png'), url('../img/nshan2.png');
	background-repeat:no-repeat;
	background-position:left -720px top -250px, right -720px top -250px;
}

.cuisine-container{
	max-width:715px;
	margin:auto;
}

.cuisine-inner{
	padding:90px 0 60px 0;
}

.about-cuisine{
	text-align:center;
}

.about-cuisine__title{
	font-size:1,8125rem;
	color: #2a3b40;
	font-style:normal;
	font-weight: 700;
	font-family: "Raleway";
	margin-bottom:45px;
}

.about-cuisine__paragraph{
	font-size: 1.1875rem;
	line-height: 33px;
	color: #2a3b40;
	font-style:normal;
	font-weight: 400;
	font-family: "Raleway";
}

.circle__parent{
	margin-top:50px;
}

.about-cuisine__circle{
	width:32px;
	height:32px;
	background-color:#2a3b40;
	border-radius:50%;
	display:inline-block;
	margin-bottom:50px;
}

.about-cuisine__link{
	display:inline-block;
	margin-right:53px;
	font-size: 17px;
	color: #2a3b40;
	font-style:normal;
	font-weight: 700;
	font-family: "Raleway";
}

.about-cuisine__link:last-child{
	margin-right:0;
}

.menu{
	background-image:url('../img/image10.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	padding:236px 0 0 0;
}

.menu-wrapper{
	background-color:#ffffffb0;
}

.menu-container{
	max-width:1170px;
	margin:auto;
	padding:48px 0 63px 0;
}

.menu-inner{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

.menu-title-one{
	font-size: 4.8125em;
	color: #304751;
	font-style:normal;
	font-weight: 400;
	font-family: "Cookie";
	text-align:center;
}

.menu-title-two{
	font-size: 3em;
	text-transform: uppercase;
	color: #ad6c12;
	font-style:normal;
	font-weight: 600;
	font-family: "Raleway";
	text-align:center;
}

.title--margin{
	margin-bottom:40px;
}

.menu-item{
	display:flex;
	align-items:center;
	margin-bottom:50px;
}

.menu-item__image{
	width:81px;
	height:81px;
	background-color:white;
	border-radius:50%;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-right:15px;
}

.menu-item__title{
	font-size: 1.125em;
	text-transform: uppercase;
	color: #304751;
	font-style:normal;
	font-weight: 700;
	font-family: "Raleway";
	margin-bottom:18px;
}

.menu-item__paragraph{
	font-size: 1.0625em;
	color: #304751;
	font-style:normal;
	font-weight: 400;
	font-family: "Raleway";
}

.menu__price{
	font-size:1em;
	color: #304751;
	font-style:normal;
	font-weight: 700;
	font-family: "Raleway";
}

.picture-one{
	min-height:883px;
	background-image:url('../img/image11.jpg');
	background-repeat:no-repeat;
	background-size:cover;
}

.picture-two{
	min-height:865px;
	background-image:url('../img/image12.jpg');
	background-repeat:no-repeat;
	background-size:cover;
}

.form-section{
	background-color:#2a3b40;
	padding:54px 0 70px 0;
}

.form-container{
	max-width:1170px;
	margin:auto;
}

.form-secondinner{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

.form__item{
	margin-bottom:47px;
}

.form-title{
	font-size: 4.8125em;
	color: #ffffff;
	font-style:normal;
	font-weight: 400;
	font-family: "Cookie";
	text-align:center;
}

.form__question{
	font-size: 1.0625em;
	margin-bottom:10px;
	color: #ffffff;
	font-style:normal;
	font-weight: 700;
	font-family: "Raleway";
}

.form-item__styles{
	width:232px;
	padding:6.8px 5px;
	background-color:#2a3b40;
	border:1.5px solid white;
	border-radius:8px;
	outline:none;
	color:white;
	font-size: 1.0625em;
	font-style:normal;
	font-weight: 700;
	font-family: "Raleway";
}

.lab{
	margin-bottom:10px;
}

.form-item__styles::placeholder{
	font-size: 1.0625em;
	color: #ffffff;
	font-style:normal;
	font-weight: 700;
	font-family: "Raleway";
}

.form__button-par{
	display:block;
	text-align:center;
	margin-top:50px;
}

.new-menu{
	background-color:#d4d8d9;
}

.new-menu-container{
	max-width:1090px;
	margin:auto;
	padding:46px 0 120px 0;
}

.new-menu-inner{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

.new-menu-item{
	width:335px;	
}

.new-menu__img{
	width:100%;
	height:330px;
	display:block;
}

.nm-desc{
	padding:25px 20px;
	background-color:white;
}

.nm-desc__date{
	font-size: 0.875rem;
	letter-spacing:1px;
	color: #555555;
	font-style:normal;
	font-weight: 700;
	font-family: "Raleway";
	margin-bottom:25px;
}

.nm-desc__title{
	font-size: 1.0625rem;
	color: #4f4e4e;
	font-style:normal;
	font-weight: 700;
	font-family: "Raleway";
	margin-bottom:17px;
}

.nm-desc__paragraph{
	font-size: 1.0625rem;
	color: #4f4e4e;
	font-style:normal;
	font-weight: 400;
	font-family: "Raleway";
	margin-bottom:30px;
}

.nm-desc__link{
	font-size: 0.875rem;
	letter-spacing: 1px;
	color: #555555;
	font-weight: 700;
	font-family: "Raleway";
}

.nm-desc__link:after{
	content:'';
	display:block;
	width:6.28571428571em;
	height:7px;
	background-color:orange;
}

.words{
	background-color:#2a3b40;
	padding:45px 0 50px 0;
}

.words-container{
	max-width:715px;
	margin:auto;
	text-align:center;
}

.words__title{
	font-size: 83px;
	color: #ffffff;
	font-style:normal;
	font-weight: 700;
	font-family: "Raleway";
	margin-bottom:-30px;
}

.words__paragraph{
	font-size:1.1875rem;
	line-height:33px;
	color: #ffffff;
	font-style:normal;
	font-weight: 400;
	font-family: "Raleway";
	margin-bottom:30px;
}

.words__author{
	font-size:1.1875rem;
	color: #ffffff;
	font-style:normal;
	font-weight: 700;
	font-family: "Raleway";
}

.words-social--margin{
	margin-top:45px;
}

.words-social__link{
	display:inline-block;
	margin-right:25px;
}

.words-social__link:last-child{
	margin-right:0;
}

.footer{
	background-color:d4d8d9;
}

.footer-container{
	max-width:1000px;
	margin:auto;
}

.footer-inner{
	display:flex;
	justify-content:space-between;
	padding:70px 0 110px 0;
	flex-wrap:wrap;
}

.about{
	width:344px;
}

.about__title{
	font-size:1.5625rem;
	text-transform: uppercase;
	color: #2d2f2a;
	font-style:normal;
	font-weight: 700;
	font-family: "Raleway";
	margin-bottom:50px;
}

.about__paragraph{
	font-size: 1.1875rem;
	line-height: 29px;
	color: #2d2f2a;
	font-style:normal;
	font-weight: 400;
	font-family: "Raleway";
}

.about-items{
	display:flex;
	width:440px;
	justify-content:space-between;
	flex-wrap:wrap;
}

.about-items__title{
	font-size:1.3125rem;
	text-transform: uppercase;
	color: #2d2f2a;
	font-weight: 700;
	font-family: "Raleway";
	margin-bottom:55px;
}

.about-items__list{
	list-style-type:none;
}

.about-items__li{
	margin-bottom:12px;
}

.about-items__link{
	font-size:1.3125rem;
	color: #2d2f2a;
	font-style:normal;
	font-weight: 400;
	font-family: "Roboto";
}
@media screen and (max-width:1120px){
	.flavours-inner{
		justify-content:center;
		align-items:stretch;
	}
	
	.image{
		margin-bottom:30px;
	}
	
	.text{
		text-align:center;
	}
}

@media screen and (max-width:1076px){
	.foods-items__item{
		margin-bottom:20px;
	}
}

@media screen and (max-width:1010px){
		.new-menu-inner{
			justify-content:center;
		}
		
		.new-menu-item:first-child{
			margin-right:30px;
		}
		
		.new-menu-item{
			margin-top:30px;
		}
}

@media screen and (max-width:920px){
	.novelties-inner{
		justify-content:center;
		padding-bottom:50px;
	}
	
	.novelties__item{
		margin-bottom:50px;
		text-align:center;
	}
	
	.novelties__item:nth-child(1){
		margin-right:20px;
	}
	
	.menu-inner{
		justify-content:center;
	}
}

@media screen and (max-width:888px){
	.footer-inner{
		justify-content:center;
	}
	
	.about{
		text-align:center;
	}
}

@media screen and (max-width:740px){
	.nav-inner{
		flex-direction:column;
		align-items:center;
		margin-bottom:50px;
	}
	
	.pagename__link{
		display:inline-block;
		margin-bottom:20px;
	}
	
	.form-secondinner{
		justify-content:center;
	}
	
	.two-form:nth-child(2n){
		margin-left:10px;
	}
	
	.form__item:last-child{
		margin-left:0;
	}

	.about__title{
		margin-bottom:20px;
	}

	.about{
		margin-bottom:30px;
	}
}

@media screen and (max-width:700px){
	.novelties__item:nth-child(1){
		margin-right:0;
	}
	
	.new-menu-item:first-child{
		margin-right:0;
	}
}

@media screen and (max-width:575px){
	
	.links{
		display:none;
	}
	
	.image{
		width:350px;
	}
	
	.text__paragraph{
		font-size:18px;
	}
	
	.menu-open-btn{
		display:block;
	}
	
	.pagename__link{
		display:inline-block;
		margin-bottom:50px;
	}
	
	.menu-item{
		flex-direction:column;
	}
	
	.menu-item__text{
		text-align:center;
		margin-top:20px;
	}
	
	.menu-item__image{
		margin-right:0;
	}
}

@media screen and (max-width:536px){
	.cuisine{
		background-image:none;
	}
	
	.order1{
		order:1;
	}
	
	.order2{
		order:2;
	}
}

@media screen and (max-width:484px){
	.two-form:nth-child(2n){
		margin-left:0;
	}
}

@media screen and (max-width:373px){
	.about-cuisine__link{
		margin-right:20px;
	}
}

@media screen and (max-width:347px){
	.words-social__link:nth-child(4){
		margin-right:0;
	}
}