.author-header-image {
    margin-right: 32px;
    width: 251px;
}

.header-firstBlock-textBlock {
    width: 670px;
}

.firstTextBlock__title {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: -2px;
    color: #232536;
    margin-bottom: 24px;
}

.firstTextBlock__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #6D6E76;
    margin-bottom: 24px;
}

.author-header-firstBlock {
    display: flex;
    align-items: center;
    margin-bottom: 105px;
}

@media screen and (max-width: 900px) {
    .author-header-firstBlock {
        flex-direction: column;
        align-items: center;
    }

    .header-firstBlock-textBlock {
        width: 100%;
        text-align: center;
    }

    .author-header-image {
        margin: 0 0 30px 0;
    }
}

@media screen and (max-width: 400px) {
    .firstTextBlock__title{
        font-size: 24px;
    }
}