<main class="main">
    <section class="big-section">
        <div class="big-section-container">
            <div class="big-section-inner">
                <div class="heading">
                    <p class="heading-subtitle">CONTACT US</p>
                    <h1 class="heading-title">Let’s Start a Conversation</h1>
                    <p class="heading-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim.
                    </p>
                </div>

                <div class="our-information">
                    <div class="our-information-inner">
                        <div class="working-hours">
                            <p class="working-hours-nameless">Working hours</p>
                            <h3 class="working-firstTitle">Monday To Friday</h3>
                            <h3 class="working-secondTitle">9:00 AM to 8:00 PM</h3>
                            <p class="working-paragraph">Our Support Team is available 24/7</p>
                        </div>
                        <div class="information-contact-us">
                            <p class="contact-us-nameless">Contact Us</p>
                            <h3 class="contact-us-firstTitle">020 7993 2905</h3>
                            <p class="contact-us-paragraph">hello@finsweet.com</p>
                        </div>
                    </div>
                </div>

                <div class="contact-us-form">
                    <div class="form-inner">
                        <form class="cs-form">
                            <input type="text" name="name" placeholder="Full Name">
                            <input type="email" name="email" placeholder="Your Email">
                            <select name="select" class="select">
                                <option value="1" class="option">Query Related</option>
                                <option value="2" class="option">Option</option>
                                <option value="3" class="option">Option</option>
                                <option value="4" class="option">Option</option>
                                <option value="5" class="option">Option</option>
                            </select>
                            <textarea name="message" cols="30" rows="5" placeholder="Message"
                                class="textarea"></textarea>
                            <button class="general-button">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>