<a routerLink="/layout/author" class="authors-item">
    <img src="{{authorsInner.img}}" alt="Image" class="authors-item__img">
    <h3 class="authors-item__name">{{authorsInner.name}}</h3>
    <p class="authors__job">{{authorsInner.paragraph}}</p>
    <div class="social-links-Parent">
        <a class="authors-social__link">
            <img src="{{authorsInner.icon1}}" alt="" class="authors-social__icon">
        </a>
        <a class="authors-social__link">
            <img src="{{authorsInner.icon2}}" alt="" class="authors-social__icon">
        </a>
        <a class="authors-social__link">
            <img src="{{authorsInner.icon3}}" alt="" class="authors-social__icon">
        </a>
        <a class="authors-social__link">
            <img src="{{authorsInner.icon4}}" alt="" class="authors-social__icon">
        </a>
    </div>
</a>