.moreAboutUsblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 125px;
}


.mau-first-text-block {
    width: 520px;
}

.mau-first__title {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
    margin-bottom: 40px;
}

.mau-first__subtitle {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #232536;
    margin-bottom: 30px;
}

.mau-first__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #232536;
}