.moreAboutUsblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 125px;
}

.mau-first-text-block {
    width: 520px;
}

.mau-first__title {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
    margin-bottom: 40px;
}

.mau-first__subtitle {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #232536;
    margin-bottom: 30px;
}

.mau-first__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #232536;
}

@media screen and (max-width:1100px) {
    .mau-first-img{
        width: 400px;
    }

    .mau-first__subtitle{
        font-size: 18px;
    }

    .mau-first__title {
        font-size: 26px;
    }
}

@media screen and (max-width: 970px) {
    .moreAboutUsblock{
        flex-direction: column !important;
    }

    .mau-first-img{
        display: none;
    }

    .mau-first-text-block{
        width: 100%;
        text-align: center;
    }
}