<main class="main">
    <header class="blog-post-header">
        <div class="blog-post-header-container">
            <div class="blog-post-header-inner">
                <div class="blog-post-header-text">
                    <div class="blog-post-account">
                        <img src="assets/img/Profilepicture.png" alt="" class="blog-post__img">
                        <div class="blog-post-account-text" >
                            <h3 class="blog-post-account__title">
                                <a>{{data.author}}</a>
                            </h3>
                            <p class="blog-post-account__date">{{data.date}}</p>
                        </div>
                    </div>
                    <h2 class="blog-post-header-text__title">
                        {{data.title}}
                    </h2>
                    <div class="icon-subtitle">
                        <img src="{{data.icon}}" alt="" class="icon">
                        <h2 class="subtitle">{{data.subtitle}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="picture">
        <div class="picture-container">
            <img src="{{data.img}}" alt="" class="picture-image">
        </div>
    </section>
    <section class="text-block">
        <div class="text-block-container">
            <div class="text-block-inner">
                <div class="text-block-item">
                    <h2 class="text-block-item__title first-title">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                    </h2>
                    <p class="text-block-item__paragraph first-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam
                        sem. At
                        risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient
                        montes.
                        Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus
                        in
                        hendrerit gravida rutrum quisque non.
                    </p>
                </div>
                <div class="text-block-item">
                    <h2 class="text-block-item__title second-title">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                    </h2>
                    <p class="text-block-item__paragraph second-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam
                        sem. At
                        risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient
                        montes.
                        Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus
                        in
                        hendrerit gravida rutrum quisque non.
                    </p>
                    <p class="text-block-item__paragraph third-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam
                        sem. At
                        risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient
                        montes.
                        Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus
                        in
                        hendrerit gravida rutrum quisque non.
                    </p>
                    <ul class="text-block-item__ul">
                        <li class="text-block-item__li">Lorem ipsum dolor sit amet</li>
                        <li class="text-block-item__li">Non blandit massa enim nec scelerisque</li>
                        <li class="text-block-item__li">Neque egestas congue quisque egestas</li>
                    </ul>
                    <p class="text-block-item__paragraph third-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam
                        sem. At
                        risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient
                        montes.
                        Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus
                        in
                        hendrerit gravida rutrum quisque non.
                    </p>
                </div>
                <div class="text-block-item">
                    <h2 class="text-block-item__title third-title">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                    </h2>
                    <p class="text-block-item__paragraph fourth-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam
                        sem. At
                        risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient
                        montes.
                        Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus
                        in
                        hendrerit gravida rutrum quisque non.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="other">
        <div class="other-container">
            <div class="other-inner">
                <h2 class="other-title">What to read next</h2>
                <div>
                    <app-readnext></app-readnext>
                </div>
                <div class="other-line"></div>
            </div>
        </div>
    </section>
    <app-aside></app-aside>
</main>
