<div class="category-section-items" >
    <div *ngFor="let item of data"  class="category-section__item" >
        <div class="category-section-image">
            <img src="{{item.img}}" alt="" class="category-section-img">
        </div>
        <div class="category-section-textBlock">
            <p class="category-textBlokc__subtitle">{{categoryData[categoryId].title}}</p>
            <h2 class="category-textBlock__title">
                {{item.title}}
            </h2>
            <p class="category-section__paragraph">
                {{item.paragraph}}
            </p>
        </div>
    </div>
</div>