*{
	margin:0;
	box-sizing:border-box;
	padding:0;
}

.footer{
	background-color:#be0f34;
}

.container{
	width:750px;
	margin:auto;
	text-align:center;
}

.social__media{
	padding:20px 0;
}

.text__p{
	font-size:20px;
	letter-spacing:2px;
	color:white;
}

.icons{
	margin-top:20px;
}

.footer__icon__general{
	background-image:url('../img/socials.png');
	width:50px;
	height:46px;
	display:inline-block;
	margin-right:10px;
}

.footer__icon__1{
	background-position:0 0;
}

.footer__icon__2{
	background-position:-57px 0;
}

.footer__icon__3{
	background-position:106px 0;
}

.footer__icon__4{
	background-position:710px 0;
}