<header class="author-header">
    <div class="author-header-container">
        <div class="author-header-inner">
            <app-one-authors></app-one-authors>
            <div class="author-pattern">
                <div class="yellow"></div>
                <div class="purple"></div>
            </div>
        </div>
    </div>
</header>
<main class="main">
    <section class="my-posts">
        <div class="my-posts-container">
            <div class="my-posts-inner">
                <h2 class="my-posts-title">My Posts</h2>
                <div class="my-posts-item">
                    <app-mypostscom></app-mypostscom>
                </div>
            </div>
        </div>
    </section>
</main>