html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

.example-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../../assets/img/loginbackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

mat-form-field{
  width: 300px;
}

.mat-mdc-button{
  background-color: #becccd;
  padding: 0 40px;
}