.conteiner{
	width:80%;
	margin:auto;
}

.blocks_parent{
	margin-top:50px;
}

.blocks_parent .block{
	
	width:30%;
	border:2px solid #E5E5E5;
	box-sizing:border-box;
	float:left;
}

.city_description{
	height:180px;
}

.city2_description{
	margin-bottom:20px;
}

.title_block{
	text-align:center;
	padding:50px 0 50px 0;
	background-color:#CCCCCC;
	color:#A0A0A0;
	font-size:20px;
}

.description{
	padding-left:15px;
}

.read_more{
	padding-left:15px;
	padding-right:15px;
}

a{
	display:inline-block;
	margin-bottom:10px;
}

.share{
	float:right;
}

.blocks_parent .block_2{
	margin:0 5% 0 5%;
}