h2{
	text-align:center;
}
.div_1{
	height:500px;
	background-image:url('../img/parashut.jpg');
}

.div_2{
	height:500px;
	background-image:url('../img/parashut.jpg');
	background-repeat:no-repeat;
}

.div_3{
	height:500px;
	background-image:url('../img/parashut.jpg');
	background-repeat:repeat-x;
}

.div_4{
	height:500px;
	background-image:url('../img/parashut.jpg');
	background-repeat:repeat-y;
}

.div_5{
	height:500px;
	background-image:url('../img/parashut.jpg');
	background-size:300px 300px;
}

.div_6{
	height:500px;
	background-image:url('../img/parashut.jpg');
	background-size:cover;
}

.div_7{
	height:500px;
	background-image:url('../img/parashut.jpg');
	background-size:contain;
}

.div_8{
	height:500px;
	background-image:url('../img/parashut.jpg');
	background-repeat: no-repeat;
	background-position:50px 100px;
}

.div_9{
	height:500px;
	background-image:url('../img/parashut.jpg');
	background-size:cover;
	background-position:10px -100px;
} 

.div_10{
	height:500px;
	background-image:url('../img/parashut.jpg');
	background-repeat:no-repeat;
	background-position:top left;
	background-position:top right;
	background-position:bottom right;
	background-position:bottom left;
	background-position:center;
	background-position:bottom center;
	background-position:right center;
	background-position:left center;
	background-position:50% 50%;
}

.div_11{
	height:800px;
	background-image: url('../img/background-image2.jpg'), url('../img/background-image1.webp');
	background-repeat:no-repeat;
}

.div_12{
	height:800px;
	background-image: url('../img/background-image2.jpg'), url('../img/small.webp'), url('../img/background-image1.webp');
	background-repeat:no-repeat;
}

.div_13{
	height:900px;
	background-image: url('../img/background-image3.jpeg'), url('../img/background-image2.jpg'), url('../img/small.webp'), url('../img/background-image1.webp');
	background-size:auto, 750px, 800px, 100px;
	background-repeat:no-repeat;
}

.div_14{
	height:900px;
	background-image: url('../img/background-image3.jpeg'), url('../img/background-image4.jpg'), url('../img/background-image2.jpg'), url('../img/small.webp'), url('../img/background-image1.webp');
	background-size:auto, 750px, 800px, 500px;
	background-position: top right, bottom left, top left, bottom right;
	background-repeat:no-repeat;
}

.div_15{
	height:900px;
	background-image: url('../img/background-image5.jpg'), url('../img/background-image3.jpeg'), url('../img/background-image4.jpg'), url('../img/background-image2.jpg'), url('../img/small.webp'), url('../img/background-image1.webp');
	background-size:550px, 550px, 550px, 550px, 600px 330px, auto;
	background-position: center, top right, bottom left, top left, bottom right ;
	background-repeat:no-repeat;
}

/* Index 2 */
