body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #98FF98;
}


h1 {
    color: cadetblue;
    font-size: 40px;
}

select {
    background-color: #FFD1DC;
    width: 300px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid white;
    outline: none;
}

table {
    border: solid;
}

th {
    border: solid;
}

td {
    border: solid
}

.reset:hover {
    transform: scale(1.1);
}

.warning {
    background-color: red;
    border: 1.5px solid black;
    display: none;
}

.valiable {
    padding: 5px;
    background-color: green;
    outline: 1px solid white;
    outline-offset: -3px;
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
}

.input-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dis-btn {
    width: 100%;
    margin-top: 10px;
}

form{
    display: none;
}