:root {
    --black: #232536;
    --yellow: #FFD050;
    --purple: #592EA9;
    --darkGrey: #4C4C4C;
    --mediumGrey: #6D6E76;
    --ligthGrey: #F4F4F4;
    --lavender: #F4F0F8;
    --ligthYellow: #FBF6EA;
}

.blog-header{
    background-color: #F4F0F8;
}

.blog-header-container {
    max-width: 1280px;
    margin: auto;
}

.blog-header-inner {
    padding: 100px 20px;
    display: flex;
    justify-content: space-between;
}

.blog-header-text {
    width: 624px;
}

.text__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #232536;
    margin-bottom: 40px;
}

.text__title {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
    margin-bottom: 20px;
}

.text__name-date {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4C4C4C;
    margin-bottom: 30px;
}

.text__name-date>a {
    text-decoration: none;
    color: #592EA9;
}

.text__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
    margin-bottom: 40px;
}

.text-link {
    text-decoration: none;
}

.allPosts-container {
    max-width: 1280px;
    margin: auto;
}

.allPosts-inner {
    padding: 64px 20px;
}

.allPosts-title {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -2px;
    color: #232536;
    margin-bottom: 40px;
}

.line {
    height: 1px;
    background-color: var(--mediumGrey);
    margin-bottom: 65px;
}

.allPosts-items {
    max-width: 1147px;
}

.allPosts-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 65px;
    text-decoration: none;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination-inner {
    width: 175px;
    display: flex;
    justify-content: space-between;
}

.pg-btn{
    transition: 1s;
}

.pg-btn:hover {
    font-size: 28px;
    color: #232536;
}

.prev {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6D6E76;
}

.next {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -1px;
    color: #6D6E76;
}

@media screen and (max-width:1000px) {
    .blog-header-inner {
        padding: 50px 20px;
    }

    .blog-header-inner {
        flex-direction: column-reverse;
        align-items: center;
    }

    .blog-header-image {
        width: 100%;
        text-align: center;
    }

    .blog-header-image__img {
        width: 70%;
        margin-bottom: 30px;
    }

    .blog-header-text {
        width: auto;
        text-align: center;
    }

    .allPosts-item {
        flex-direction: column;
        align-items: center;
    }

    .allPosts-title {
        text-align: center;
    }

    .allPosts-text {
        text-align: center;
        width: 100%;
    }

    .allPosts-image {
        margin-bottom: 30px;
        width: 100%;
    }

    .allPosts-img {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .blog-header-image {
        display: none;
    }
}