* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.header {
    background-image: url('../img/fon1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0, 150px 150px;
    padding: 55px 0 200px 0;
}


.nav--margin {
    margin-bottom: 155px;
}

.nav-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transform: translateY(-250px);
    animation-name: fromtoptobottom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fromtoptobottom {
    from {}

    to {
        transform: translateY(0);
    }
}

.nav__item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.header-logo__link {
    font-size: 29px;
    color: #ffffff;
    font-weight: 700;
    font-style: normal;
    font-family: "Raleway";
}

.nav__link {
    font-size: 29px;
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-family: "Raleway";
}

.menu-open-input:checked+.submenu {
    transform: translateY(0);
}

.nav__item--not-hidden {
    position: relative;
}

.submenu {
    width: auto;
    padding: 20px;
    background-color: rgb(171, 40, 171);
    position: absolute;
    right: 15px;
    border-radius: 5px;
    transform: translateY(-250px);
    transition: 0.5s;
    text-align: center;
}

.submenu__items {
    list-style: none;
}

.submenu__links {
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    font-family: "Raleway";
}

.fa-bars {
    color: white;
    font-size: 80px;
}

.header-inner {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-text {
    width: 500px;
    align-self: flex-end;
    transform: translateX(800px);
    animation-name: fromrighttoleft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fromrighttoleft {
    from {}

    to {
        transform: translateX(0);
    }
}

.header-text__title {
    font-size: 63px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-family: "Raleway";
    position: relative;
    margin-bottom: 55px;
}

.header-text__title::after {
    content: '';
    position: absolute;
    right: 0;
    top: 90px;
    width: 161px;
    height: 7px;
    display: block;
    background-color: white;
}

.header-text__paragraph {
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-family: "Raleway";
    text-align: right;
    margin-bottom: 70px;
}

.header-text__link-parent {
    text-align: right;
}

.header-text__link {
    font-size: 25px;
    color: #100667;
    font-style: normal;
    font-weight: 500;
    font-family: "Raleway";
    display: inline-block;
    width: 10.16em;
    padding: 9.6px 0;
    text-align: center;
    background-color: #d3cfdf;
}

.circle {
    width: 526px;
    background-color: #ff186296;
    padding: 173.8px 0;
    border-radius: 50%;
    text-align: center;
    animation-name: appearance;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: translateX(-800px);
}

.circle__subtitle-one {
    font-size: 57px;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-family: "Raleway";
}

.circle__subtitle-two {
    font-size: 71px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Monoton";
}

@keyframes appearance {
    from {}

    to {
        transform: translateX(0);
    }
}

.who-are-we {
    background-color: #000001;
}

.waw-container {
    max-width: 900px;
    margin: auto;
}

.waw-inner {
    text-align: center;
    padding: 90px 0 140px 0;
}

.waw__img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.waw__title {
    font-size: 29px;
    color: white;
    font-weight: 700;
    font-family: "Raleway";
    margin-bottom: 45px;
}

.waw__paragraph {
    font-size: 19px;
    line-height: 33px;
    color: white;
    font-weight: 400;
    font-family: "Raleway";
}

.news {
    background-color: #aa15b6;
}

.repetetive-container {
    max-width: 1080px;
    margin: auto;
}

.repetetive-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 0;
}

.news-item {
    width: 300px;
}

.news-item__icon {
    width: 60px;
    height: 60px;
    transform: rotate(-134deg);
    margin-bottom: 25px;
}

.news-item__title {
    margin-bottom: 25px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
}

.news-item__paragraph {
    font-size: 17px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Raleway";
}

.priorities {
    background-color: #000001;
}

.priorities-inner {
    padding: 95px 0;
}

.priorities-title {
    color: white;
    text-align: center;
    font-weight: 700;
    font-family: "Raleway";
    font-size: 29px;
}

.priorities-title--margin {
    margin-bottom: 50px;
}

.priorities-paragraph {
    font-size: 19px;
    line-height: 33px;
    color: white;
    font-weight: 400;
    font-family: "Raleway";
    text-align: center;
}

.priorities-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.priorities-items--margin {
    margin-top: 125px;
}

.priorities-item {
    width: 344px;
    background-color: #aa15b6;
    padding: 65px 65px;
}

.priorities-item__title {
    font-size: 17px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    margin-bottom: 65px;
}

.priorities-item__paragraph {
    font-size: 17px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Raleway";
    margin-bottom: 50px;
}

.priorities-author {
    display: flex;
    align-items: center;
}

.priorities-author__img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.priorities-author__name {
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
}

.priorities-author__status {
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Raleway";
}

.fon1 {
    min-height: 355px;
    background-image: url('../img/fon2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.what-we-do {
    background-color: #000001;
}

.what-we-do-container {
    max-width: 715px;
    margin: auto;
}

.what-we-do-inner {
    text-align: center;
    padding: 90px 0 66px 0;
}

.wwd-text__title {
    font-size: 29px;
    color: white;
    font-weight: 700;
    font-family: "Raleway";
    margin-bottom: 50px;
}

.wwd-text__paragraph {
    color: white;
    font-size: 19px;
    line-height: 33px;
    font-weight: 400;
    font-family: "Raleway";
    margin-bottom: 60px;
}

.line {
    width: 162px;
    height: 10px;
    background-color: white;
    margin: auto;
    margin-bottom: 50px;
}

.wwd-links__item {
    display: inline-block;
    font-size: 17px;
    color: white;
    font-weight: 700;
    font-family: "Raleway";
    margin-right: 40px;
}

.wwd-links__item:last-child {
    margin-right: 0;
}

.fon2 {
    background-image: url('../img/fon3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 355px;
}

.words {
    background-color: #000001;
}

.words-container {
    max-width: 715px;
    margin: auto;
}

.words-inner {
    text-align: center;
    padding: 75px 0 100px 0;
}

.words__line {
    width: 162px;
    height: 10px;
    background-color: white;
    margin: auto;
    margin-bottom: 50px;
}

.words-text__title {
    font-size: 83px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Raleway";
    margin-bottom: 10px;
}

.words-text__paragraph {
    margin-bottom: 50px;
    font-size: 19px;
    line-height: 33px;
    color: #fefefe;
    font-weight: 400;
    font-family: "Raleway";
}

.words-text__author {
    line-height: 33px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Raleway";
}

.fon3 {
    background-image: url('../img/fon4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 670px;
}

.numbers {
    background-image: url('../img/fon5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.numbers-container {
    max-width: 680px;
    margin: auto;
}

.numbers-inner {
    padding: 175px 0 290px 0;
}

.numbers-title {
    font-size: 29px;
    color: white;
    font-weight: 600;
    font-family: "Raleway";
    text-align: center;
}

.numbers-title--margin {
    margin-bottom: 95px;
}

.numbers-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.numbers-items__item {
    width: 150px;
}

.numbers-items__paragraph {
    font-size: 13px;
    color: white;
    font-weight: 400;
    font-family: "Raleway";
    margin-bottom: 30px;
}

.numbers-items__number {
    font-size: 21px;
    color: white;
    font-weight: 600;
    font-family: "Raleway";
    margin-bottom: 22px;
}

.numbers-items__name {
    font-size: 21px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-family: "Raleway";
}

.something {
    background-color: #000001;
}

.something-container {
    max-width: 1170px;
    margin: auto;
}

.something-inner {
    padding: 113px 0;
}

.something-item-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.something-item-wrapper--margin {
    margin-bottom: 35px;
}

.something-item {
    width: 580px;
    padding: 100px;
    text-align: center;
}


.text-block__data {
    font-size: 17px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    margin-bottom: 15px;
}

.text-block__title {
    font-size: 21px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    margin-bottom: 45px;
}

.text-block__paragraph {
    font-size: 17px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Raleway";
}

.dates {
    background-color: #aa15b6;
}

.dates-container {
    max-width: 1090px;
    margin: auto;
}

.dates-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 0 70px 0;
}

.dates-item {
    width: 240px;
    border-left: 7px solid white;
    padding: 16px 20px;
}

.dates-item__title {
    font-size: 17px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    margin-bottom: 20px;
}

.dates-item__subtitle {
    font-size: 14px;
    letter-spacing: 1px;
    color: white;
    font-weight: 700;
    font-family: "Raleway";
}

.words-social__links {
    display: inline-block;
    margin-right: 25px;
}

.words-social__links:last-child {
    margin-right: 0;
}

.words-text--margin {
    margin-bottom: 40px;
}

.footer {
    background-color: #aa15b6;
}

.footer-container {
    max-width: 990px;
    margin: auto;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 70px 20px 110px 20px;
}

.footer-text {
    width: 344px;
}

.footer-text__title {
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-family: "Raleway";
    margin-bottom: 55px;
}

.footer-text__paragraph {
    font-size: 19px;
    line-height: 29px;
    color: white;
    font-weight: 400;
    font-family: "Raleway";
}

.footer-items {
    width: 440px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-list__title {
    font-size: 21px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-family: "Raleway";
    margin-bottom: 50px;
}

.footer-list__link {
    font-size: 21px;
    color: white;
    font-weight: 700;
    font-family: "Raleway";
    margin-bottom: 15px;
    display: inline-block;
}

.footer-list {
    width: 70px;
    text-align: center;
}

.footer-list__item {
    list-style: none;
}

@media screen and (max-width:1250px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width:1153px) {
    .something-item {
        width: 500px;
    }

    .something-item-wrapper__img {
        width: 500px;
    }

    .something-item-wrapper {
        justify-content: center;
    }
}

@media screen and (max-width:1080px) {
    .header-inner {
        justify-content: center;
    }

    .header-text__title::after {
        right: 160px;
    }

    .header-text__paragraph {
        text-align: center;
    }

    .header-text__link-parent {
        text-align: center;
    }

    .something-item-wrapper__img {
        display: none;
    }

    .something-item-wrapper--margin {
        margin-bottom: 0;
    }

    .something-item {
        padding: 30px 0px 20px 0px;
    }
}

@media screen and (max-width:1066px) {
    .circle {
        margin-bottom: 50px;
    }
}

@media screen and (max-width:1032px) {
    .priorities-items {
        justify-content: center;
    }

    .priorities-item {
        margin-bottom: 50px;
    }

    .priorities-item:nth-child(1) {
        margin-right: 30px;
    }

}

@media screen and (max-width:930px) {
    .repetetive-inner {
        justify-content: center;
    }

    .news-item {
        margin-bottom: 30px;
        text-align: center;
    }

    .priorities-items {
        flex-direction: column;
        align-items: center;
    }

    .priorities-item:nth-child(1) {
        margin-right: 0;
    }
}

@media screen and (max-width:850px) {
    .footer-inner {
        flex-direction: column;
        align-items: center;
    }

    .footer-text {
        text-align: center;
        width: 500px;
        margin-bottom: 50px;
    }

    .footer-text__title {
        margin-bottom: 10px;
    }
}

@media screen and (max-width:738px) {
    .dates-inner {
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
    }

    .dates-item {
        margin-bottom: 30px;
    }
}

@media screen and (max-width:625px) {
    .nav__item {
        display: none;
    }

    .nav__item--not-hidden {
        display: inline-block;
    }

    .circle {
        width: 300px;
        padding: 85.8px 0;
    }

    .circle__subtitle-two {
        font-size: 50px;
    }

    .header-text__title {
        font-size: 50px;
        text-align: center;
    }

    .header-text__title::after {
        display: none;
    }

    .waw-inner {
        padding-left: 20px;
        padding-right: 20px;
    }

    .repetetive-inner {
        padding-left: 20px;
        padding-right: 20px;
    }

    .priorities-inner {
        padding-left: 20px;
        padding-right: 20px;
    }

    .what-we-do-inner {
        padding-left: 20px;
        padding-right: 20px;
    }

    .words-inner {
        padding-left: 20px;
        padding-right: 20px;
    }

    .numbers-inner {
        padding: 50px 20px 50px 20px;
    }

    .header {
        padding-bottom: 50px;
    }

    .fon1 {
        display: none;
    }

    .fon2 {
        display: none;
    }

    .fon3 {
        display: none;
    }

    .something-inner {
        padding: 113px 15px;
    }
}

@media screen and (max-width:500px) {
    .numbers-items {
        flex-direction: column;
        align-items: center;
    }

    .numbers-items__item {
        margin-bottom: 50px;
    }

    .fon3 {
        min-height: 300px;
    }

    .something-item {
        padding: 30px 50px 20px 50px;
    }

    .footer-inner {
        padding-bottom: 30px;
    }

    .footer-items {
        width: auto;
        flex-direction: column;
        align-items: center;
    }

    .footer-text {
        width: auto;
    }

    .footer-list {
        margin-bottom: 40px;
    }

    .footer-list__title {
        margin-bottom: 15px;
    }
}

@media screen and (max-width:400px) {
    .wwd-links__item {
        margin-right: 10px;
    }

    .words-social__links {
        margin-right: 10px;
    }

    .priorities-item {
        width: 220px;
        padding: 10px 40px;
    }

    .priorities-item__title {
        margin-bottom: 20px;
    }

}

@media screen and (max-width:350px) {
    .circle {
        width: 250px;
        padding: 70.2px 0;
    }

    .circle__subtitle-one {
        font-size: 40px;
    }

    .circle__subtitle-two {
        font-size: 40px;
    }
}


@media screen and (max-width:315px) {
    .words-social__links:nth-child(4) {
        margin-right: 0;
    }
}