.privacy-section__title {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -2px;
    color: #232536;
    margin-bottom: 32px;
}

.privacy-section__subtitle {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
    margin-bottom: 24px;
}

.privacy-section p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #4C4C4C;
}

.privacy-section__first-paragraph {
    margin-bottom: 32px;
    color: #4C4C4C;
    font-size: 16px;
    font-family: Inter;
    line-height: 28px;
}

.privacy-section__second-paragraph {
    color: #4C4C4C;
    font-size: 16px;
    font-family: Inter;
    line-height: 28px;
    margin-bottom: 32px;
}

.privacy-section__third-paragraph{
    color: #4C4C4C;
    font-size: 16px;
    font-family: Inter;
    line-height: 28px;
}

@media screen and (max-width: 500px) {
    .privacy-section__title {
        font-size: 35px;
    }

    .privacy-section__subtitle {
        font-size: 25px;
    }
}