@font-face {
    font-family: 'Gavency Free';
    src: url('GavencyFree-Regular.woff2') format('woff2'),
        url('GavencyFree-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

