<div class="other-items">
    <a class="other-item" *ngFor="let item of data">
        <img src="{{item.img}}" alt="" class="other-image">
        <div class="other-item-text">
            <p class="other-item-text__subtitle">
                By {{item.name}} | {{item.date}}
            </p>
            <h2 class="other-item-text__title">
                {{item.title}}
            </h2>
            <p class="other-item-text__paragraph">
                {{item.paragraph}}
            </p>
        </div>
    </a>
</div>