*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	text-decoration:none;
}

.nav{
	background-color:#21243d;
}

.container{
	width:1337px;
	margin:auto;
}

.inner{
	display:inline-block;
	width:100%;
}

.logo{
	float:left;
	width:215px;
}

.logo--margin{
	margin-right: 150px;
}

.logo__link{
	display:inline-block;
}

.logo__png{
	width:100%;
}

.contacts{
	float:left;
}

.contacts--margin{
	margin-top:35px;
	margin-right:265px;
}

.contacts__link{
	display:inline-block;
	margin-right:70px;
	transition:0.5s;
}

.contacts__link:hover{
	border:1px solid white;
	padding:10px 15px;
	transform:translateY(-10px);
}

.contacts__link:last-child{
	margin-right:0;
}

.contacts__item{
	display:inline-block;
	font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
	color:white;
}

.search{
	float:left;
}

.search__button{
	width:32px;
	border:none;
	background-color:transparent;
	cursor:pointer;
}

.search__png{
	width:100%;
}

.search--margin{
	margin-top:35px;
}

.order-section{
	background-image:url('../img/image1.jpg');
	background-repeat:no-repeat;
	background-size:cover;
}

.order-section-inner{
	padding:170px 0 160px 0;
}

.order__title{
	font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
	color:white;
	margin-bottom:90px;
	font-size:125px;
}

.order__paragraph{
	font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
	color:white;
	font-size:30px;
	margin-bottom:50px;
}

.order__link{
	font-size:25px;
	color:white;
	text-decoration:none;
	background-color:#21243d;
	padding:17.8px 74.42px;
	border-radius:33px;
	font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
	display:inline-block;
	transition:0.3s;
}	

.order__link:hover{
	background-color:white;
	color:#21243d;
}

.repetitive-title{
	text-align:center;
	font-size:64px;
	font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
	color:white;
}

.repetitive-title--margin{
	margin-bottom:50px;
}

.repetitive-paragraph{
	text-align:center;
	font-size:25px;
	font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
	color:white;
}

.menu-section{
	background-color:#21243d;
	background-image:url(../img/shape1.png), url(../img/shape2.png), 
						url(../img/shape3.png), url(../img/shape4.png), 
						url(../img/shape5.png), url(../img/shape2.png);
	background-repeat:no-repeat;
	background-position:-60px 650px, 100px 200px, 280px -20px, right -30px top -30px, right -20px top 400px, right 800px;
}

.menu-section-inner{
	padding:100px 0 130px 0;
}

.food{
	text-align:center;
}

.food--margin{
	margin-top:100px;
}

.food__item{
	width:20%;
	display:inline-block;
}

.food__item:nth-child(2){
	margin:0 10% 0 10%;
}

.food__image{
	width:100%;
	border-radius:50%;
}

.food__title{
	color:white;
	font-size:28px;
	font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
	margin:25px 0 30px 0;
}

.food__paragraph{
	color:white;
	font-size:17px;
	font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
}

.third-section{
	background-color:#ffd17e;
	text-align:center;
	background-image:url('../img/shape1_1.png'), url('../img/shape1_2.png'), 
					 url('../img/shape1_3.png'), url('../img/shape1_4.png'), 
					 url('../img/shape1_5.png');
	background-repeat:no-repeat;
	background-position:bottom 50px left 45px, top 125px left 130px, top 130px right 650px, 
						top 25px right 36px, bottom 75px right -36px;  
}

.third-section-inner{
	display:inline-block;
	padding:190px 0 130px 0;
}

.image__img{
	border-radius:50%;
	width:400px;
	
}

.image{
	float:left;
}

.image--margin{
	margin-right:175px;
}

.image--margin-left{
	margin-left:175px;
}

.description{
	float:left;
	text-align:left;
}

.description__title{
	color:#21243d;
	font-size:75px;
	font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
	margin-bottom:65px;
}

.description__paragraph{
	color:#21243d;
	font-size:30px;
	font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
	margin-bottom:75px;
}

.description__link{
	font-size:25px;
	color:white;
	text-decoration:none;
	background-color:#21243d;
	padding:17.8px 74.42px;
	border-radius:33px;
	font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
	display:inline-block;
	transition:0.3s;
}

.description__link:hover{
	background-color:white;
	color:#21243d;
}

.statictics{
	background-color: #21243d;
	background-image:url('../img/shape3.png'), url('../img/shape2.png'), 
					 url('../img/shape1.png'), url('../img/shape3.png'),
					 url('../img/shape2.png'), url('../img/shape1.png');
	background-repeat:no-repeat;
	background-position:left 100px top 60px, left 115px top 220px, 
						left 300px bottom -68px, right 450px bottom 50px, 
						right 75px bottom 100px, right 80px top 93px;
	text-align:center;
}

.statictics-inner{
	padding:95px 0 186px 0;
}

.statictics-items--margin{
	margin-top:100px;
}

.statictics-item{
	border:5px solid white;
	display:inline-block;
	color:white;
	text-align:center;
	padding:61.2px 58.92px;
	border-radius:50%;
}

.statictics-item:nth-child(2){
	margin:0 140px;
}

.statictics-items__title{
	font-size:75px;
	font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
}

.statictics-items__paragraph{
	font-size:42px;
	font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
}

.four-section{
	background-color:#ffd17e;
	text-align:center;
	background-image:url('../img/shape1_3.png'), url('../img/shape1_6.png'), 
					 url('../img/shape1_5.png'), url('../img/shape1_4.png'), url('../img/shape1_5.png');
	background-repeat:no-repeat;
	background-position:left 180px top 150px, left 650px top 50px, 
						right 140px top 200px, right 50px bottom 80px,
						left 580px bottom 50px;
									
}

.four-section-inner{
	display:inline-block;
	padding:250px 0 200px 0;
}

.worker-section{
	background-image:url('../img/image2.jpg');
	background-repeat:no-repeat;
	background-size:cover;
}
.worker-section-inner{
	text-align:center;
	padding:144px 0;
}

.worker-section__img{
	border-radius:50%;
	width:230px;
	margin-bottom:50px;
}

.worker-section__words{
	font-size:42px;
	font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
	color:white;
	margin-bottom:60px;
}

.worker-section__name{
	font-size:45px;
	font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
	color:white;
}

.form-section{
	background-color:#ffd17e;
	background-image:url('../img/shape1_3.png'), url('../img/shape1_6.png'),
					 url('../img/shape1_3.png'), url('../img/shape1_5.png'),
					  url('../img/shape1_4.png');
	background-repeat:no-repeat;
	background-position: left 123px bottom 160px, left 90px top 80px, 
						 right 300px top 80px, right -46px top 30px, 
						 right 110px bottom 100px;
}

.form-section-inner{
	text-align:center;
	padding: 160px 0 310px 0;
}

.repetitive-title--mc{
	color:#21243d;
	margin-bottom:65px;
}

.repetitive-paragraph--mc{
	color:#21243d;
	margin-bottom:80px;
}

.subscribe-form{
	position:relative;
}

.subscribe-form__input{
	width:660px;
	padding:10px 195px 10px 25px;
	border-radius:50px;
	border:none;
	font-size:25px;
	font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
	outline:none;
}

.subscribe-form__button{
	padding:10px 38px;
	border-radius:50px;
	border:none;
	background-color:#21243d;
	color:white;
	font-size:25px;
	font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
	position:absolute;
	right:300px; 
}

.footer{
	background-color: #111111;
}

.textandsocial{
	float:left;
	text-align:left;
}

.textandsocial--margin{
	margin-right:160px;
}

.text--margin{
	margin-bottom:46px;
}

.text__title{
	color:white;
	font-size:32px;
	font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
	margin-bottom:42px;
}

.text__paragraph{
	color:white;
	font-size:24px;
	font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
}

.social__icon{
	width:42px;
	height:42px;
	display:inline-block;
	margin-right:15px;
}

.social__icon:last-child{
	margin-right:0;
}

.footer{
	text-align:center;
}

.footer-inner{
	display:inline-block;
	width:100%;
	padding:250px 0 300px 0;
}

.social__img{
	width:100%;
}

.contacts-list{
	float:left;
}

.contacts-list--margin{
	margin-right:50px;
}

.contacts-list__item{
	list-style-type:none;
}	

.contacts-list__link{
	color:white;
	font-size:24px;
	font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
	display:inline-block;
	margin-bottom:10px;
	transition:300ms;
}

.contacts-list__link:hover{
	opacity:0.7;
	transform:scale(1.1);
}

.contacts-list__title{
	color:white;
	font-size:32px;
	font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
	margin-bottom:20px;
}
