.conteiner{
	width:80%;
	margin:auto;
}

.parent{
	display:inline-block;
	width:100%;
}

.child{
	width:30%;
	box-sizing:border-box;
	border:1px solid black;
	float:left;
	padding:5px;
}

.image{
	text-align:center;
	font-size:32px;
	padding:30%;
	box-sizing:border-box;
	background-color:gray;
}

.text{
	text-align:center;
	margin:auto;
}

.child_2{
	margin:0 5% 0 5%;
}